* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}

ul {
  padding: 0px 20px;
}

h1, h2 {
  margin: 0px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

hr.header {
  border: 2px solid #3A3B3B;
}

hr {
  margin: 0px;
  border: 0.5px solid #000000;
}

#root {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

.form {
  max-width: 500px;
  height: 100%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
}

input,
textarea {
  background-color: #dbdcdc;
  border-radius: 2px;
  border: 1px solid #cccccc;
}

button {
  border-radius: 5px;
  border: 1px solid;
}

.preview {
  padding: 0px 40px 40px 40px;
  min-width: 600px;
  min-height: 100%;
  border: 1px solid #777A7A;
}

ul.contact {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 5px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
}
